/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--font-main);
  background-image: var(--background-gradient);
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvh;
  font-variation-settings: "wght" var(--font-weight-page);
}

header {
  width: var(--width);
}

h1 {
  font-family: var(--font-accent);
  font-weight: 400;
  font-size: clamp(49px, 6vw, 65px);
  text-transform: uppercase;
}

h2 {
  font-family: var(--font-accent);
  font-weight: 400;
  font-size: clamp(14px, 6vw, 23px);
  text-transform: uppercase;
}

.rectangle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  box-sizing: border-box;
  margin-top: 100px;
  border: 2px solid black;
  padding: 130px 0 130px 0;
  text-align: center;
  background-color: #fff;
}

.rectangle h1,
.rectangle h2 {
  width: 100%;
  text-align: center;
}

.content {
  display: flex;
  flex-direction: column;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: var(--width);
  height: auto;
  margin: 50px auto 0;
  border: 2px solid black;
  font-family: var(--font-main);
  font-size: var(--font-size);
  background: white;
  background-color: #fff;
  font-variation-settings: "wght" var(--font-weight-card-text);
}

.card:first-child {
  margin: 95px auto 0;
}

.card-title {
  margin: 4px 10px 4px 10px;
  font-family: var(--font-main);
  font-size: 18px;
  text-align: start;
  text-transform: none;
  font-variation-settings: "wght" var(--font-weight-card-title);
}

.card__image-container {
  position: relative;
  border-top: solid 1px black;
  border-bottom: solid 1px black;
}

.image-lable {
  position: absolute;
  top: 25px;
  right: 25px;
  opacity: 0.9;
  color: black;
  font-family: var(--font-accent);
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  text-shadow: 1px 1px 0 var(--text-stroke-color),
    -1px -1px 0 var(--text-stroke-color), 1px -1px 0 var(--text-stroke-color),
    -1px 1px 0 var(--text-stroke-color);
  mix-blend-mode: hard-light;
}

@supports ((-webkit-text-stroke: 1px #fff) or (text-stroke: 1px #fff)) {
  .image-lable {
    color: black;
    text-shadow: none;
    -webkit-text-stroke: 1px var(--text-stroke-color);
    text-stroke: 1px var(--text-stroke-color);
  }
}

.card-image {
  display: block;
  width: 100%;
  object-fit: cover;
  object-position: center;
  aspect-ratio: 1 / 1;
}

.card-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  padding: 0 25px 25px 25px;
}

.card-text-container {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin: 25px;
}

.card-text {
  overflow-wrap: break-word;
  font-weight: 400;
  line-height: 21px;
  word-wrap: break-word;
}

.like-button {
  display: flex;
  justify-self: center;
  align-items: center;
  gap: 8px;
  border: solid 2px black;
  padding: 10px 20px;
  font-family: var(--font-accent);
  font-weight: 400;
  font-size: 14px;
  background-color: #fff;
  cursor: pointer;
}

.like-icon {
  justify-self: center;
  align-items: center;
  padding-top: 5px;
  transform-origin: center;
}

.button__text {
  font-family: var(--font-accent);
  font-weight: 400;
  font-size: 14px;
  line-height: 90%;
}

.card-actions {
  display: flex;
  justify-content: flex-end;
}

.cards-buttons {
  display: flex;
  justify-content: end;
  gap: 7px;
}

.card__like-button {
  min-width: 130px;
  border: 2px solid var(--accent-color);
  padding: 10px 20px;
  font-family: var(--font-accent);
  font-size: 14px;
  background: var(--button-bg);
  cursor: pointer;
}

/* Фильтры для фото */

.filter-satured {
  filter: saturate(10);
}

.filter-invert {
  filter: invert(80);
}

.filter-brightness {
  filter: brightness(1.5);
}

.filter-blur {
  filter: blur(5px);
}

.filter-grayscale {
  filter: grayscale(50);
}

.filter-sepia {
  filter: sepia(80);
}

.filter-pop-art {
  filter: contrast(90%) saturate(150%) brightness(150%) hue-rotate(30deg);
}

/* Модальное окно */

.button-section {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 100px;
}

.save-button {
  display: flex;
  align-items: center;
  gap: 8px;
  border: 2px solid var(--accent-color);
  padding: 15px 20px;
  font-family: var(--font-accent);
  font-size: 14px;
  background: var(--button-bg);
  cursor: pointer;
}

.floppy-icon {
  width: 21px;
  height: 21px;
}

.modal {
  display: none;
  width: 353px;
  border: solid 2px black;
  padding: 30px;
  background: white;
}

.modal[open] {
  display: flex;
}

.modal::backdrop {
  background: rgba(0, 0, 0, 0.75);
}

.modal__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  width: 100%;
  height: 100%;
}

.modal__icon {
  flex-shrink: 0;
  width: 39px;
  height: 39px;
  margin-top: 10px;
  color: rgb(0, 0, 0);
}

.floppy-text {
  display: flex;
}
.modal__text {
  display: flex;
  flex-grow: 1;
  margin-left: 20px;
  color: #000;
  font-family: var(--font-accent);
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  text-align: start;
  text-transform: uppercase;
}

/* ОК */
.modal__button {
  flex-shrink: 0;
  width: 100%;
  height: 40px;
  border: 2px solid #000;
  font-family: var(--font-accent);
  font-weight: 400;
  font-size: 14px;
  background: white;
  cursor: pointer;
}

/* Настройки кнопок */

button:focus {
  box-shadow: 2px 2px 0 var(--accent-color);
  outline: none;
}

button {
  position: relative;
  z-index: 1;
  overflow: hidden;
  transition: box-shadow 0.3s ease;
}

button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: var(--accent-color);
  transition: transform 0.5s ease-in-out;
  transform: translateX(-100%);
}

button:hover::before {
  transform: translateX(0);
}

.button__text,
.floppy-icon,
.save-button .button__text,
.modal__button .button__text {
  position: relative;
  z-index: 2;
  color: white;
  transition: color 0.3s ease;
  mix-blend-mode: difference;
}

/* Кнопка сердечка с исключениями настроек */

.card__icon-button {
  border: none;
  padding: 0;
  background: transparent;
  transition: border-color 0.3s ease;
  cursor: pointer;
}

.card__icon-button::before {
  content: none;
}

.card__icon-button:hover {
  border: none;
}

.card__icon-button:focus {
  border: none;
  box-shadow: none;
  outline: none;
  transform: none;
}

.card__icon-button:focus-visible {
  border: solid 1px black;
  box-shadow: none;
  outline: none;
  transform: none;
}

/* Сердечко */

.core {
  fill: transparent;
  transition: fill 0.3s linear 0.03s;
}

.contour {
  fill: var(--contour);
  transition: fill 0.1s linear;
}

.main-body {
  fill: transparent;
  transition: fill 0.3s linear 0s;
}

.sparks {
  opacity: 0;
  fill: var(--animation-fill-color);
}

.like-icon:hover .core {
  fill: var(--contour);
  transition: fill 0.3s linear;
}

.like-icon:hover .main-body {
  fill: var(--contour);
  transition: fill 0.3s linear 0.05s;
}

.like-icon:active .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear;
}

.like-icon:active .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0.06s;
}

.like-icon.is-liked .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0;
}

.like-icon.is-liked .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0.05s;
}

.heart {
  transform-origin: center;
}

.like-icon.is-liked .heart {
  animation: scale-heart 0.3s ease-in 0.1s 1 normal;
}

.like-icon.is-liked .sparks {
  animation: sparks 0.3s ease-in 0.3s 1 normal;
}

/* Медиазапрос */

@media (width <= 375px) {
  .page {
    width: 100%;
  }

  h2 {
    font-size: 14px;
  }

  .rectangle {
    padding: 120px 0 120px 0;
  }

  .card {
    width: 100%;
  }

  .save-button {
    flex-direction: column;
  }

  .floppy-icon {
    width: 25px;
    height: 25px;
  }

  .modal {
    padding: 30px 25px;
  }

  .modal__content {
    gap: 10px;
    margin-right: 0;
  }

  .modal__button {
    margin-bottom: 0px;
  }
}
